body {
    background-color: #FFAB4C;
}

.header {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Fredoka', sans-serif;
    font-size: 50px;
    background: linear-gradient(to left, #142F43, #B000B9, #FF5F7E);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.show {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    background-color: #142F43;
}

.input-field {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

#search {
    width: 70%;
    font-family: 'Fredoka', sans-serif;
    color: #142F43;
    font-size: 25px;
    padding: 15px;
    border: 3px solid #B000B9;
    border-radius: 10px 10px 10px 10px;
    background-color: #FF5F7E;
}

a {
    font-family: 'Fredoka', sans-serif;
    color: #142F43;
    background-color: #FFAB4C;
    font-size: 21px;
    text-decoration: none;
    border: solid 2px #FFAB4C;
    border-radius: 15px 15px 15px 15px;
    padding: 5px;
}

.par {
  display: flex;
    justify-content: center;
  font-family: 'Fredoka', sans-serif;
  font-size: 15px;
    color: #142F43;
}

@media all and (max-width: 1024px) {

.container {
    margin: 0;
}
  .show {
    margin: 20px;
    padding: 30px;
}
  
}

@media all and (max-width: 414px) {
  
    h1 {
        font-size: 35px;
    }

    img {
        width: 300px;
        height: 400px;
    }

    a {
        font-size: 15px;
    }
  
    .par {
    text-align: center;
  }
}

@media all and (max-width: 375px) {
  
  .container {
    margin: 0;
}
  
    h1 {
        font-size: 33px;
    }
  
  .input-field {
    width: 350px;
  }

    img {
        width: 300px;
        height: 400px;
    }

    a {
        font-size: 15px;
    }
  
        .show {
    margin: 5px;
        padding: 25px;
}
  
    .par {
    text-align: center;
  }
}

@media all and (max-width: 320px) {
  
  .container {
    margin: 0;
}
  
    h1 {
        font-size: 33px;
    }

    img {
        width: 250px;
        height: 350px;
    }

.input-field {
    width: 310px;
  }
  
    a {
        font-size: 15px;
    }
  
      .show {
    margin: 5px;
        padding: 25px;
}
  
  .par {
    text-align: center;
  }
}
